aiohttp
anyio
boto3
datasets
fastapi
joblib
kagglehub
librosa
mediapipe
moviepy
numpy
onnxruntime
opencv-python
pandas
peft
pillow
pdf2image
PyMuPDF
pydantic
pytesseract
pytest
python-multipart
requests
scikit-learn
shap
soundfile
torch
torchaudio
torchvggish
torchvision
transformers
tqdm
uvicorn
